.ant-menu-horizontal {
  border: none;
}

@media screen and (min-width: 1000px) {

  .app-root {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    background: #fff;
  }

  .g-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    

    .m-nav {
      display: flex;
      background: rgba(255,255,255,.9);
      padding: 10px 20px;
      align-items: center;
      height: 65px;
      color: #333;
      position: fixed;
      z-index: 100;
      width: 1200px;

      &>label {
        margin: 0 20px;
        font-size: 16px;
        color: #666;
        flex: 1;
      }

      .m-menu {
        background: unset!important;
        /*background: rgba(255,255,255,.8);*/
      }

      .m-toggle {
        display: none;
      }

      .ant-menu-item {
        color: #333;
      }
    }
  }

  .g-main {
    padding-top: 65px;
  }

  .m-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    color: #fff; 
    background-color: #343a40;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 2;
    padding: 40px 0 25px;

    img {
      margin-right: 20px;
      width: 50px;
      height: 50px;
    }
    a {
      color: #fff;
    }
  }
}





@media screen and (max-width: 1000px) {

  .app-root {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    height: 100%;

    .g-nav {
      display: flex;
      flex-direction: column;
      height: 100%;

      .m-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 16px;
        background: rgba(255,255,255,.9);
        color: #333;
        z-index: 999;

        label {
          flex: 1;
          margin: 0  0 0 10px;
        }

        .m-menu_wrap {
          display: flex;
          flex-direction: column;
          position: fixed;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: rgba(255,255,255,.3);
          z-index: 998;

          .m-menu {
            opacity: .96;
          }
          .m-blank {
            flex: 1;
          }
        }
      }

      .m-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        padding: 5px;

        span {
          display: block;
          background: #ccc;
          width: 100%;
          height: 2px;
        }
      }
    }

    .g-main {
      padding-top: 50px;
    }

    .m-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff; 
      background-color: #343a40;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 2;
      padding: 30px 10px 10px;

      img {
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
      }

      .m-slash {
        display: none;
      }

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        small {
          font-size: 12px;
          transform: scale(0.9); 
          margin: -10px -20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;

          a {
            color: #fff;
          }
        }
      }
    }
  }





}
